* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 900px;
}

.user {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.user .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
}

.user .person img {
  margin-left: 13px;
  margin-top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-position: center;
  margin-right: 15px;
}

.user .person .teks h2 {
  font-size: 1rem;
}

.user .person .teks p {
  display: block;
  font-size: .7rem;
  color: #9A9A9A;
}

.releases {
  width: 100%;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.releases .title-releases p {
  margin-bottom: -5px;
  margin-left: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: .9rem;
  color: crimson;
}

.releases .card-releases {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1rem;
  overflow-y: auto;
  overscroll-behavior-x: x mandatory;
  scrollbar-width: none;
  margin-left: 5px;
}

.releases .card-releases .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.releases .card-releases .card-1 .img, .releases .card-releases .card-2 .img, .releases .card-releases .card-3 .img, .releases .card-releases .card-4 .img {
  width: 110px;
  height: 110px;
  border-radius: 5px;
}

.releases .card-releases .card-1 .teks, .releases .card-releases .card-2 .teks, .releases .card-releases .card-3 .teks, .releases .card-releases .card-4 .teks {
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
}

.releases .card-releases .card-1 .teks h4, .releases .card-releases .card-2 .teks h4, .releases .card-releases .card-3 .teks h4, .releases .card-releases .card-4 .teks h4 {
  font-size: .6rem;
  color: black;
}

.releases .card-releases .card-1 .teks p, .releases .card-releases .card-2 .teks p, .releases .card-releases .card-3 .teks p, .releases .card-releases .card-4 .teks p {
  font-size: .6rem;
  color: #9A9A9A;
}

.artist {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.artist .title-artist p {
  margin-bottom: -5px;
  margin-left: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: .9rem;
  color: crimson;
}

.artist .card-artist {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1rem;
  overflow-y: auto;
  overscroll-behavior-x: x mandatory;
  scrollbar-width: none;
  margin-left: 5px;
}

.artist .card-artist .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.artist .card-artist .card-1 .img, .artist .card-artist .card-2 .img, .artist .card-artist .card-3 .img, .artist .card-artist .card-4 .img {
  width: 78px;
  height: 80px;
  border-radius: 5px;
}

.artist .card-artist .card-1 .teks, .artist .card-artist .card-2 .teks, .artist .card-artist .card-3 .teks, .artist .card-artist .card-4 .teks {
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
}

.artist .card-artist .card-1 .teks h4, .artist .card-artist .card-2 .teks h4, .artist .card-artist .card-3 .teks h4, .artist .card-artist .card-4 .teks h4 {
  font-size: .7rem;
  color: #9A9A9A;
}

.tracks {
  width: 100%;
  margin-top: 15px;
}

.tracks .container {
  width: 91%;
  margin: auto;
}

.tracks .container .judul p {
  font-weight: 900;
  font-size: .9rem;
  color: crimson;
}

.tracks .container .list {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tracks .container .list .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tracks .container .list .left .number {
  font-weight: 600;
  font-size: .9rem;
}

.tracks .container .list .left .img {
  padding: 2px 15px;
}

.tracks .container .list .left .img .gmbr {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.tracks .container .list .left .song h4 {
  font-size: .8rem;
}

.tracks .container .list .left .song h4 a {
  text-decoration: none;
  color: black;
}

.tracks .container .list .left .song p {
  font-size: .7rem;
  color: #9A9A9A;
}

.tracks .container .list .right {
  font-weight: bold;
  padding: 5px;
}

.tracks .container .list .right span {
  letter-spacing: 2px;
}

.list-1 .left .img {
  margin-left: 3px;
}

.navbar {
  background-color: white;
  position: fixed;
  z-index: 100000000;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 5px;
  -webkit-box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.navbar .list {
  margin: auto;
}

.navbar .list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.navbar .list ul .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .list ul .logo li {
  color: #777777;
  margin-top: -3px;
  font-size: .7rem;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.body-song {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.album {
  margin-top: 5px;
  width: 100%;
}

.album .container {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.album .container .left {
  padding: 5px;
  margin-top: 5px;
  color: black;
  border-radius: 5px;
}

.album .container .teks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.album .container .teks p {
  font-size: .6rem;
  color: crimson;
  font-weight: bold;
}

.album .container .teks h4 {
  font-size: .8rem;
}

.album .container .right {
  padding: 5px;
  margin-top: 5px;
  color: black;
  border-radius: 5px;
}

.card-lagu {
  margin-top: 30px;
  width: 100%;
}

.card-lagu .container-lagu {
  width: 90%;
  margin: auto;
}

.card-lagu .container-lagu .img {
  margin: auto;
  border-radius: 10px;
  width: 270px;
  height: 290px;
  border: 1px solid black;
}

.judul {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.judul .container-judul {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.judul .container-judul .judul-lagu p {
  font-size: .8rem;
  color: #777777;
  font-weight: bold;
}

.song {
  width: 90%;
  margin: auto;
}

.song #position-slider {
  width: 100%;
  height: 5px;
}

.song .menit {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: .7rem;
  font-weight: bold;
}

.btn-song {
  padding-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-song .btn-start a {
  color: black;
}

.btn-song .btn-end a {
  color: black;
}

.swipe {
  padding-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swipe svg {
  font-weight: bolder;
}

.swipe p {
  color: crimson;
  font-size: .7rem;
  font-weight: bold;
}

.love {
  color: crimson;
}
/*# sourceMappingURL=style.css.map */